- title 'Welcome to admin site'


%button
  simple button

%button.green
  simple green button 

= link_to "Test", root_url(), {:class => 'button'}

= link_to "Test 2", root_url(), {:class => 'button custom'}

= link_to "Test 3", root_url(), {:class => 'button mate-blue'}

= link_to "Test 4", root_url(), {:class => 'button arrow'}


- link_to(root_url) do
  %button.red
    Back to Products

%button.red
  = link_to "Back to Products", root_url


= link_to "Back to Products", root_url, {:class => 'button blue-add'}

%button.green
  = link_to "Back to Products", root_url

%button.yellow
  = link_to "Back to Products", root_url

%button.creation-stage
  = link_to "Back to Products", root_url

%button.gray-del
  = link_to "Back to Products", root_url

