%h5 Teams List

#teams
  - if @league.teams.empty?
    Your league haven't teams loaded yet, please create them

  - else
    .container
      = render :partial => 'team_list'

.clear
%hr.space
%hr.space

%h5 Quick Team Creation
- form_for [:admin, @league, Team.new], :remote => true do |f|
  = f.error_messages

  = f.label :name
  = f.text_field :name

  = f.submit 'Create'
