- if @week
  %h5= "Configuration of #{@week.name}"

  .notice.hide
    #notice

  #edit-week-form{:title => "Editing #{@week.name}"}
    - form_for [:admin, @league, @league.fixture, @week], :remote => true do |f|
      %fieldset
        = f.label :name
        = f.text_field :name

        .clear
        %b="Games"
        .clear
        #week_games
          = render :partial => 'admin/leagues/week_games'

    %b="Match Builder"
    %br/

    - form_for [:admin, @league, @fixture, @week, Match.new], :remote => true do |f|
      %fieldset
        .ui-widget-header.ui-droppable{:style=>"width:400px;"}
          = f.hidden_field :local
          #local_team
            Local:

        vs.

        .ui-widget-header.ui-droppable{:style=>"width:400px;"}
          = f.hidden_field :visitor
          #visitor_team
            Vistitor:

        = f.submit

    %fieldset
      %b="Teams"
      %br/
      #week_teams
        = render :partial => 'admin/leagues/week_teams'
    = javascript_include_tag 'admin/matches'
