- title 'Leagues'

%div{:class => 'container'}
  .span-6
    %h2.head= "Name"
  .span-6
    %h2.head= "Owner"

  %hr/

  - @leagues.each do |league|
    %div{:class => cycle('even', 'odd')} 
      .span-6.item
        = league

      .span-6.item.last
        = league.owner.username

      .clear

%div{:style=> "padding: 20px;"}
  = link_to new_admin_league_path, :method => :post do
    <button class="matte-blue">Create New League</button>


/
  %div{:class => 'container showgrid'}
    %h1
      Blueprint Test
    .span-4
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    .span-8
      %p
        span 8

    .span-8.last
      span 8 last

    .span-6.append-3.last
      span-6 append-3 last

    %hr

    .span12.border
      %p
        span12 border

    .span-12.last
      %p
        span-12 last

