- title 'Leagues'

%div{:class => 'container'}
  .span-2
    &nbsp;
  .span-6
    %h2.head= "Name"
  .span-6
    %h2.head= "Owner"
  .span-6
    %h2.head= "Status"

  %hr/

  - @leagues.each do |league|
    .item-line{:class => cycle('even', 'odd')} 
      .span-2{:style => 'text-align: center; padding-top: 15px;'}
        = link_to image_tag('cross.png'), admin_league_path(league), :method => :delete, :confirm => 'Are you sure?'

      .span-6.item
        = link_to league, edit_admin_league_path(league)

      .span-6.item.last
        = link_to league.owner.username, edit_admin_league_path(league)

      .clear

%div{:style=> "padding: 20px;"}
  = link_to new_admin_league_path do
    <button class="matte-blue">Create New League</button>


/
  %div{:class => 'container showgrid'}
    %h1
      Blueprint Test
    .span-4
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    .span-8
      %p
        span 8

    .span-8.last
      span 8 last

    .span-6.append-3.last
      span-6 append-3 last

    %hr

    .span12.border
      %p
        span12 border

    .span-12.last
      %p
        span-12 last

