- title 'New League'

- form_for [:admin, @league] do |f|

  = f.label :name
  = f.text_field :name

  = f.label :owner_id
  = f.select :owner_id, options_for_select(User.all.map{|x, y| [x.username, x.id]})

  = f.submit
